@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#showcase {
  padding-bottom: 2rem;
  background: linear-gradient(#ffcd9e, #fccfa6);
}

header {
  display: flex;
  padding: 10px 50px;
  justify-content: space-between;
  align-items: center;
}

.h_links {
  display: flex;
}

.h_links li {
  padding: 0 15px;
  list-style: none;
}

.h_links a {
  color: #000;
  font-size: 1.4rem;
  text-decoration: none;
}

.h_links a:hover {
  color: #ff7a00;
}

.cart_btn {
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  color: #ffe9d6;
  background: #ff9a3d;
  border: none;
  border-radius: 200px;
  cursor: pointer;
}

.cart_btn:hover {
  background: #ff7a00;
}

.cart_btn p {
  font-size: 1.3rem;
  color: #ffe9d6;
}

.cart_btn img {
  transform: scale(0.8);
}

.cart_overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
  z-index: 5;
}

.cart_overlay.active {
  opacity: 1;
  pointer-events: all;
}

.cart_popup {
  width: 50%;
  margin: 1rem auto 0;
  background: #ffe9d6;
  min-width: 350px;
  border-radius: 5px;
  padding: 2rem;
  position: relative;
}

.fa-times {
  border: none;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.3rem;
  color: #ff913d;
  padding: 0.5rem;
  cursor: pointer;
  background: transparent;
}

.fa-times:hover {
  color: #ff7a00;
}

.cart_popup input {
  display: block;
  width: 90%;
  border: none;
  background: #ffcd9e;
  padding: 0.5rem;
  border-radius: 3px;
  margin: 1rem auto;
  min-width: 300px;
}

.cart_description {
  text-align: center;
}

.cart_description h2 {
  font-size: 1.3rem;
  padding: 1rem 0;
}

.cart_description p {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
}

.cart_cta {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

table {
  width: 100%;
  text-align: center;
}

td,
th {
  border: 1px solid #ffcd9e;
  border-radius: 3px;
  padding: 0.5rem;
}

tr .fa-minus,
.fa-plus {
  background: #ff913d;
  color: #fff;
  font-size: 0.8rem;
  padding: 0.5rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

tr .fa-minus:hover,
.fa-plus:hover {
  background: #ff7a00;
}

.counter {
  padding: 0 0.5rem;
}

.remove_item {
  border: none;
}

.fa-trash {
  font-size: 1.3rem;
  color: #ff913d;
  cursor: pointer;
}

.fa-trash:hover {
  color: #ff7a00;
}

.cart_cta button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.1rem;
}

#cont {
  background: #ffcd9e;
}

#check {
  background: #ff913d;
  padding: 0.5rem 2rem;
  color: #fff;
}

#intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.description {
  display: flex;
  align-items: center;
}

.description img {
  width: 100%;
  transform: scale(1.2);
  pointer-events: none;
}

.description h1 {
  font-size: 5rem;
  color: #ff7a00;
  text-transform: uppercase;
}

.shop_now {
  padding: 1rem 7rem;
  border: none;
  border-radius: 5px;
  background: #ff913d;
  text-transform: uppercase;
  font-size: 1rem;
  color: #ffe9d6;
  cursor: pointer;
  font-weight: 600;
}

.shop_now:hover {
  background: #ff7a00;
}

#about {
  background: #000;
  color: white;
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
}

#shop {
  padding: 1rem 3.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
}

#shop img {
  width: 100%;
  height: 100%;
}

.product {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product_img {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffe9d6;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease;
}

.overlay.active {
  opacity: 1;
}

.overlay h3 {
  font-size: 2.5rem;
}

.overlay p {
  text-decoration: underline;
  font-size: 1.5rem;
}
.product h2 {
  padding: 0.2rem 0 1rem;
}

.product button {
  padding: 0.5rem 2.2rem;
  border: none;
  border-radius: 3px;
  background: #ff9a3d;
  text-transform: uppercase;
  font-size: 1rem;
  color: #af4f0e;
  cursor: pointer;
  font-weight: 600;
}

.product button.removed {
  background: #ffcd9e;
}

.product button:hover {
  background: #ff7a00;
}

footer {
  background: #000;
  padding: 1rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer img {
  transform: scale(0.6);
}

footer ul {
  display: flex;
}

footer ul li {
  list-style: none;
  padding: 0 2rem;
}

footer ul li a {
  color: #ffe9d6;
  font-size: 1.3rem;
}

@media (max-width: 1024px) {
  .description h1 {
    font-size: 4rem;
  }

  .cart_popup {
    width: 80%;
  }
}

@media (max-width: 799px) {
  header {
    padding: 20px;
  }
  .description {
    display: flex;
    flex-direction: column;
  }

  .description h1 {
    max-width: 550px;
    text-align: center;
  }

  .description img {
    transform: scale(1);
  }

  #shop {
    padding: 1rem 2.5rem;
  }

  #about {
    font-size: 1.6rem;
  }
}

@media (max-width: 666px) {
  .logo {
    display: none;
  }

  .h_links li {
    padding: 0 5px;
  }

  .description h1 {
    font-size: 3rem;
  }

  .cart_btn {
    transform: scale(0.8);
  }

  .cart_btn img {
    transform: scale(0.6);
  }
  .shop_now {
    padding: 1rem 4rem;
  }

  .cart_popup {
    width: 98%;
    padding: 2rem 0.3rem;
    margin: 0 auto;
  }

  td,
  th {
    padding: 0.2rem;
  }

  th:first-child,
  td:first-child {
    display: none;
  }

  .cart_cta {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .cart_cta button {
    margin: 0.5rem 0;
  }

  #about {
    font-size: 1.2rem;
  }

  #shop {
    padding: 1rem 1.5rem;
  }
}
